[data-current-theme]{
     transition: 0.3s;
   }
   
   [data-current-theme="true"]{
     background-color: #000;
     color: #fff;
     height: 100%;
   }
   
   [data-current-theme="true"] *{
     border: none;
}

[data-current-theme="true"] .btn{
  border: 2px solid #EE5626;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}